.icon-arrow-down-purple { background-image: url('png/arrow-down-purple.png'); background-repeat: no-repeat; }

.icon-arrow-down-white { background-image: url('png/arrow-down-white.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-artwork-purple { background-image: url('png/artwork-purple.png'); background-repeat: no-repeat; }

.icon-artwork-white { background-image: url('png/artwork-white.png'); background-repeat: no-repeat; }

.icon-artwork { background-image: url('png/artwork.png'); background-repeat: no-repeat; }

.icon-auction-purple { background-image: url('png/auction-purple.png'); background-repeat: no-repeat; }

.icon-auction-white { background-image: url('png/auction-white.png'); background-repeat: no-repeat; }

.icon-auction { background-image: url('png/auction.png'); background-repeat: no-repeat; }

.icon-check-purple { background-image: url('png/check-purple.png'); background-repeat: no-repeat; }

.icon-check-white { background-image: url('png/check-white.png'); background-repeat: no-repeat; }

.icon-check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon-chevron-down-purple { background-image: url('png/chevron-down-purple.png'); background-repeat: no-repeat; }

.icon-chevron-down-white { background-image: url('png/chevron-down-white.png'); background-repeat: no-repeat; }

.icon-chevron-down { background-image: url('png/chevron-down.png'); background-repeat: no-repeat; }

.icon-chevron-left-purple { background-image: url('png/chevron-left-purple.png'); background-repeat: no-repeat; }

.icon-chevron-left-white { background-image: url('png/chevron-left-white.png'); background-repeat: no-repeat; }

.icon-chevron-left { background-image: url('png/chevron-left.png'); background-repeat: no-repeat; }

.icon-chevron-right-purple { background-image: url('png/chevron-right-purple.png'); background-repeat: no-repeat; }

.icon-chevron-right-white { background-image: url('png/chevron-right-white.png'); background-repeat: no-repeat; }

.icon-chevron-right { background-image: url('png/chevron-right.png'); background-repeat: no-repeat; }

.icon-chevron-small-down-purple { background-image: url('png/chevron-small-down-purple.png'); background-repeat: no-repeat; }

.icon-chevron-small-down-white { background-image: url('png/chevron-small-down-white.png'); background-repeat: no-repeat; }

.icon-chevron-small-down { background-image: url('png/chevron-small-down.png'); background-repeat: no-repeat; }

.icon-chevron-small-left-purple { background-image: url('png/chevron-small-left-purple.png'); background-repeat: no-repeat; }

.icon-chevron-small-left-white { background-image: url('png/chevron-small-left-white.png'); background-repeat: no-repeat; }

.icon-chevron-small-left { background-image: url('png/chevron-small-left.png'); background-repeat: no-repeat; }

.icon-chevron-small-right-purple { background-image: url('png/chevron-small-right-purple.png'); background-repeat: no-repeat; }

.icon-chevron-small-right-white { background-image: url('png/chevron-small-right-white.png'); background-repeat: no-repeat; }

.icon-chevron-small-right { background-image: url('png/chevron-small-right.png'); background-repeat: no-repeat; }

.icon-chevron-small-up-purple { background-image: url('png/chevron-small-up-purple.png'); background-repeat: no-repeat; }

.icon-chevron-small-up-white { background-image: url('png/chevron-small-up-white.png'); background-repeat: no-repeat; }

.icon-chevron-small-up { background-image: url('png/chevron-small-up.png'); background-repeat: no-repeat; }

.icon-chevron-up-purple { background-image: url('png/chevron-up-purple.png'); background-repeat: no-repeat; }

.icon-chevron-up-white { background-image: url('png/chevron-up-white.png'); background-repeat: no-repeat; }

.icon-chevron-up { background-image: url('png/chevron-up.png'); background-repeat: no-repeat; }

.icon-circle-check-purple { background-image: url('png/circle-check-purple.png'); background-repeat: no-repeat; }

.icon-circle-check-white { background-image: url('png/circle-check-white.png'); background-repeat: no-repeat; }

.icon-circle-check { background-image: url('png/circle-check.png'); background-repeat: no-repeat; }

.icon-circle-chevron-purple { background-image: url('png/circle-chevron-purple.png'); background-repeat: no-repeat; }

.icon-circle-chevron-white { background-image: url('png/circle-chevron-white.png'); background-repeat: no-repeat; }

.icon-circle-chevron { background-image: url('png/circle-chevron.png'); background-repeat: no-repeat; }

.icon-circle-plus-purple { background-image: url('png/circle-plus-purple.png'); background-repeat: no-repeat; }

.icon-circle-plus-white { background-image: url('png/circle-plus-white.png'); background-repeat: no-repeat; }

.icon-circle-plus { background-image: url('png/circle-plus.png'); background-repeat: no-repeat; }

.icon-close-purple { background-image: url('png/close-purple.png'); background-repeat: no-repeat; }

.icon-close-white { background-image: url('png/close-white.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-download-purple { background-image: url('png/download-purple.png'); background-repeat: no-repeat; }

.icon-download-white { background-image: url('png/download-white.png'); background-repeat: no-repeat; }

.icon-download { background-image: url('png/download.png'); background-repeat: no-repeat; }

.icon-edit-purple { background-image: url('png/edit-purple.png'); background-repeat: no-repeat; }

.icon-edit-white { background-image: url('png/edit-white.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-ellipsis-purple { background-image: url('png/ellipsis-purple.png'); background-repeat: no-repeat; }

.icon-ellipsis-white { background-image: url('png/ellipsis-white.png'); background-repeat: no-repeat; }

.icon-ellipsis { background-image: url('png/ellipsis.png'); background-repeat: no-repeat; }

.icon-facebook-purple { background-image: url('png/facebook-purple.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-frame-purple { background-image: url('png/frame-purple.png'); background-repeat: no-repeat; }

.icon-frame-white { background-image: url('png/frame-white.png'); background-repeat: no-repeat; }

.icon-frame { background-image: url('png/frame.png'); background-repeat: no-repeat; }

.icon-grid-purple { background-image: url('png/grid-purple.png'); background-repeat: no-repeat; }

.icon-grid-white { background-image: url('png/grid-white.png'); background-repeat: no-repeat; }

.icon-grid { background-image: url('png/grid.png'); background-repeat: no-repeat; }

.icon-heart-purple { background-image: url('png/heart-purple.png'); background-repeat: no-repeat; }

.icon-heart-white { background-image: url('png/heart-white.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-info-filled-purple { background-image: url('png/info-filled-purple.png'); background-repeat: no-repeat; }

.icon-info-filled-white { background-image: url('png/info-filled-white.png'); background-repeat: no-repeat; }

.icon-info-filled { background-image: url('png/info-filled.png'); background-repeat: no-repeat; }

.icon-info-purple { background-image: url('png/info-purple.png'); background-repeat: no-repeat; }

.icon-info-white { background-image: url('png/info-white.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('png/info.png'); background-repeat: no-repeat; }

.icon-instagram-purple { background-image: url('png/instagram-purple.png'); background-repeat: no-repeat; }

.icon-instagram-white { background-image: url('png/instagram-white.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-link-purple { background-image: url('png/link-purple.png'); background-repeat: no-repeat; }

.icon-link-white { background-image: url('png/link-white.png'); background-repeat: no-repeat; }

.icon-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.icon-list-purple { background-image: url('png/list-purple.png'); background-repeat: no-repeat; }

.icon-list-white { background-image: url('png/list-white.png'); background-repeat: no-repeat; }

.icon-list { background-image: url('png/list.png'); background-repeat: no-repeat; }

.icon-logo-purple { background-image: url('png/logo-purple.png'); background-repeat: no-repeat; }

.icon-logo-unscaled-purple { background-image: url('png/logo-unscaled-purple.png'); background-repeat: no-repeat; }

.icon-logo-unscaled-white { background-image: url('png/logo-unscaled-white.png'); background-repeat: no-repeat; }

.icon-logo-unscaled { background-image: url('png/logo-unscaled.png'); background-repeat: no-repeat; }

.icon-logo-white { background-image: url('png/logo-white.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-logotype-purple { background-image: url('png/logotype-purple.png'); background-repeat: no-repeat; }

.icon-logotype-unscaled-purple { background-image: url('png/logotype-unscaled-purple.png'); background-repeat: no-repeat; }

.icon-logotype-unscaled-white { background-image: url('png/logotype-unscaled-white.png'); background-repeat: no-repeat; }

.icon-logotype-unscaled { background-image: url('png/logotype-unscaled.png'); background-repeat: no-repeat; }

.icon-logotype-white { background-image: url('png/logotype-white.png'); background-repeat: no-repeat; }

.icon-logotype { background-image: url('png/logotype.png'); background-repeat: no-repeat; }

.icon-mail-purple { background-image: url('png/mail-purple.png'); background-repeat: no-repeat; }

.icon-mail-white { background-image: url('png/mail-white.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-minus-small-purple { background-image: url('png/minus-small-purple.png'); background-repeat: no-repeat; }

.icon-minus-small-white { background-image: url('png/minus-small-white.png'); background-repeat: no-repeat; }

.icon-minus-small { background-image: url('png/minus-small.png'); background-repeat: no-repeat; }

.icon-person-purple { background-image: url('png/person-purple.png'); background-repeat: no-repeat; }

.icon-person-white { background-image: url('png/person-white.png'); background-repeat: no-repeat; }

.icon-person { background-image: url('png/person.png'); background-repeat: no-repeat; }

.icon-pinterest-purple { background-image: url('png/pinterest-purple.png'); background-repeat: no-repeat; }

.icon-pinterest-white { background-image: url('png/pinterest-white.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

.icon-plus-small-purple { background-image: url('png/plus-small-purple.png'); background-repeat: no-repeat; }

.icon-plus-small-white { background-image: url('png/plus-small-white.png'); background-repeat: no-repeat; }

.icon-plus-small { background-image: url('png/plus-small.png'); background-repeat: no-repeat; }

.icon-remove-small-purple { background-image: url('png/remove-small-purple.png'); background-repeat: no-repeat; }

.icon-remove-small-white { background-image: url('png/remove-small-white.png'); background-repeat: no-repeat; }

.icon-remove-small { background-image: url('png/remove-small.png'); background-repeat: no-repeat; }

.icon-search-purple { background-image: url('png/search-purple.png'); background-repeat: no-repeat; }

.icon-search-white { background-image: url('png/search-white.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-share-purple { background-image: url('png/share-purple.png'); background-repeat: no-repeat; }

.icon-share-white { background-image: url('png/share-white.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('png/share.png'); background-repeat: no-repeat; }

.icon-tumblr-purple { background-image: url('png/tumblr-purple.png'); background-repeat: no-repeat; }

.icon-tumblr-white { background-image: url('png/tumblr-white.png'); background-repeat: no-repeat; }

.icon-tumblr { background-image: url('png/tumblr.png'); background-repeat: no-repeat; }

.icon-twitter-purple { background-image: url('png/twitter-purple.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-view-in-room-purple { background-image: url('png/view-in-room-purple.png'); background-repeat: no-repeat; }

.icon-view-in-room-white { background-image: url('png/view-in-room-white.png'); background-repeat: no-repeat; }

.icon-view-in-room { background-image: url('png/view-in-room.png'); background-repeat: no-repeat; }

.icon-website-purple { background-image: url('png/website-purple.png'); background-repeat: no-repeat; }

.icon-website-white { background-image: url('png/website-white.png'); background-repeat: no-repeat; }

.icon-website { background-image: url('png/website.png'); background-repeat: no-repeat; }

.icon-write-purple { background-image: url('png/write-purple.png'); background-repeat: no-repeat; }

.icon-write-white { background-image: url('png/write-white.png'); background-repeat: no-repeat; }

.icon-write { background-image: url('png/write.png'); background-repeat: no-repeat; }

