.icon-arrow-down-black { background-image: url('png/arrow-down-black.png'); background-repeat: no-repeat; }

.icon-arrow-down-purple { background-image: url('png/arrow-down-purple.png'); background-repeat: no-repeat; }

.icon-arrow-down-white { background-image: url('png/arrow-down-white.png'); background-repeat: no-repeat; }

.icon-artwork-black { background-image: url('png/artwork-black.png'); background-repeat: no-repeat; }

.icon-artwork-purple { background-image: url('png/artwork-purple.png'); background-repeat: no-repeat; }

.icon-artwork-white { background-image: url('png/artwork-white.png'); background-repeat: no-repeat; }

.icon-auction-black { background-image: url('png/auction-black.png'); background-repeat: no-repeat; }

.icon-auction-purple { background-image: url('png/auction-purple.png'); background-repeat: no-repeat; }

.icon-auction-white { background-image: url('png/auction-white.png'); background-repeat: no-repeat; }

.icon-check-black { background-image: url('png/check-black.png'); background-repeat: no-repeat; }

.icon-check-purple { background-image: url('png/check-purple.png'); background-repeat: no-repeat; }

.icon-check-white { background-image: url('png/check-white.png'); background-repeat: no-repeat; }

.icon-chevron-down-black { background-image: url('png/chevron-down-black.png'); background-repeat: no-repeat; }

.icon-chevron-down-purple { background-image: url('png/chevron-down-purple.png'); background-repeat: no-repeat; }

.icon-chevron-down-white { background-image: url('png/chevron-down-white.png'); background-repeat: no-repeat; }

.icon-chevron-left-black { background-image: url('png/chevron-left-black.png'); background-repeat: no-repeat; }

.icon-chevron-left-purple { background-image: url('png/chevron-left-purple.png'); background-repeat: no-repeat; }

.icon-chevron-left-white { background-image: url('png/chevron-left-white.png'); background-repeat: no-repeat; }

.icon-chevron-right-black { background-image: url('png/chevron-right-black.png'); background-repeat: no-repeat; }

.icon-chevron-right-purple { background-image: url('png/chevron-right-purple.png'); background-repeat: no-repeat; }

.icon-chevron-right-white { background-image: url('png/chevron-right-white.png'); background-repeat: no-repeat; }

.icon-chevron-small-down-black { background-image: url('png/chevron-small-down-black.png'); background-repeat: no-repeat; }

.icon-chevron-small-down-purple { background-image: url('png/chevron-small-down-purple.png'); background-repeat: no-repeat; }

.icon-chevron-small-down-white { background-image: url('png/chevron-small-down-white.png'); background-repeat: no-repeat; }

.icon-chevron-small-left-black { background-image: url('png/chevron-small-left-black.png'); background-repeat: no-repeat; }

.icon-chevron-small-left-purple { background-image: url('png/chevron-small-left-purple.png'); background-repeat: no-repeat; }

.icon-chevron-small-left-white { background-image: url('png/chevron-small-left-white.png'); background-repeat: no-repeat; }

.icon-chevron-small-right-black { background-image: url('png/chevron-small-right-black.png'); background-repeat: no-repeat; }

.icon-chevron-small-right-purple { background-image: url('png/chevron-small-right-purple.png'); background-repeat: no-repeat; }

.icon-chevron-small-right-white { background-image: url('png/chevron-small-right-white.png'); background-repeat: no-repeat; }

.icon-chevron-small-up-black { background-image: url('png/chevron-small-up-black.png'); background-repeat: no-repeat; }

.icon-chevron-small-up-purple { background-image: url('png/chevron-small-up-purple.png'); background-repeat: no-repeat; }

.icon-chevron-small-up-white { background-image: url('png/chevron-small-up-white.png'); background-repeat: no-repeat; }

.icon-chevron-up-black { background-image: url('png/chevron-up-black.png'); background-repeat: no-repeat; }

.icon-chevron-up-purple { background-image: url('png/chevron-up-purple.png'); background-repeat: no-repeat; }

.icon-chevron-up-white { background-image: url('png/chevron-up-white.png'); background-repeat: no-repeat; }

.icon-circle-check-black { background-image: url('png/circle-check-black.png'); background-repeat: no-repeat; }

.icon-circle-check-purple { background-image: url('png/circle-check-purple.png'); background-repeat: no-repeat; }

.icon-circle-check-white { background-image: url('png/circle-check-white.png'); background-repeat: no-repeat; }

.icon-circle-chevron-black { background-image: url('png/circle-chevron-black.png'); background-repeat: no-repeat; }

.icon-circle-chevron-purple { background-image: url('png/circle-chevron-purple.png'); background-repeat: no-repeat; }

.icon-circle-chevron-white { background-image: url('png/circle-chevron-white.png'); background-repeat: no-repeat; }

.icon-circle-plus-black { background-image: url('png/circle-plus-black.png'); background-repeat: no-repeat; }

.icon-circle-plus-purple { background-image: url('png/circle-plus-purple.png'); background-repeat: no-repeat; }

.icon-circle-plus-white { background-image: url('png/circle-plus-white.png'); background-repeat: no-repeat; }

.icon-close-black { background-image: url('png/close-black.png'); background-repeat: no-repeat; }

.icon-close-purple { background-image: url('png/close-purple.png'); background-repeat: no-repeat; }

.icon-close-white { background-image: url('png/close-white.png'); background-repeat: no-repeat; }

.icon-download-black { background-image: url('png/download-black.png'); background-repeat: no-repeat; }

.icon-download-purple { background-image: url('png/download-purple.png'); background-repeat: no-repeat; }

.icon-download-white { background-image: url('png/download-white.png'); background-repeat: no-repeat; }

.icon-edit-black { background-image: url('png/edit-black.png'); background-repeat: no-repeat; }

.icon-edit-purple { background-image: url('png/edit-purple.png'); background-repeat: no-repeat; }

.icon-edit-white { background-image: url('png/edit-white.png'); background-repeat: no-repeat; }

.icon-ellipsis-black { background-image: url('png/ellipsis-black.png'); background-repeat: no-repeat; }

.icon-ellipsis-purple { background-image: url('png/ellipsis-purple.png'); background-repeat: no-repeat; }

.icon-ellipsis-white { background-image: url('png/ellipsis-white.png'); background-repeat: no-repeat; }

.icon-facebook-black { background-image: url('png/facebook-black.png'); background-repeat: no-repeat; }

.icon-facebook-purple { background-image: url('png/facebook-purple.png'); background-repeat: no-repeat; }

.icon-facebook-white { background-image: url('png/facebook-white.png'); background-repeat: no-repeat; }

.icon-frame-black { background-image: url('png/frame-black.png'); background-repeat: no-repeat; }

.icon-frame-purple { background-image: url('png/frame-purple.png'); background-repeat: no-repeat; }

.icon-frame-white { background-image: url('png/frame-white.png'); background-repeat: no-repeat; }

.icon-grid-black { background-image: url('png/grid-black.png'); background-repeat: no-repeat; }

.icon-grid-purple { background-image: url('png/grid-purple.png'); background-repeat: no-repeat; }

.icon-grid-white { background-image: url('png/grid-white.png'); background-repeat: no-repeat; }

.icon-heart-black { background-image: url('png/heart-black.png'); background-repeat: no-repeat; }

.icon-heart-purple { background-image: url('png/heart-purple.png'); background-repeat: no-repeat; }

.icon-heart-white { background-image: url('png/heart-white.png'); background-repeat: no-repeat; }

.icon-info-black { background-image: url('png/info-black.png'); background-repeat: no-repeat; }

.icon-info-filled-black { background-image: url('png/info-filled-black.png'); background-repeat: no-repeat; }

.icon-info-filled-purple { background-image: url('png/info-filled-purple.png'); background-repeat: no-repeat; }

.icon-info-filled-white { background-image: url('png/info-filled-white.png'); background-repeat: no-repeat; }

.icon-info-purple { background-image: url('png/info-purple.png'); background-repeat: no-repeat; }

.icon-info-white { background-image: url('png/info-white.png'); background-repeat: no-repeat; }

.icon-instagram-black { background-image: url('png/instagram-black.png'); background-repeat: no-repeat; }

.icon-instagram-purple { background-image: url('png/instagram-purple.png'); background-repeat: no-repeat; }

.icon-instagram-white { background-image: url('png/instagram-white.png'); background-repeat: no-repeat; }

.icon-link-black { background-image: url('png/link-black.png'); background-repeat: no-repeat; }

.icon-link-purple { background-image: url('png/link-purple.png'); background-repeat: no-repeat; }

.icon-link-white { background-image: url('png/link-white.png'); background-repeat: no-repeat; }

.icon-list-black { background-image: url('png/list-black.png'); background-repeat: no-repeat; }

.icon-list-purple { background-image: url('png/list-purple.png'); background-repeat: no-repeat; }

.icon-list-white { background-image: url('png/list-white.png'); background-repeat: no-repeat; }

.icon-logo-black { background-image: url('png/logo-black.png'); background-repeat: no-repeat; }

.icon-logo-purple { background-image: url('png/logo-purple.png'); background-repeat: no-repeat; }

.icon-logo-unscaled-black { background-image: url('png/logo-unscaled-black.png'); background-repeat: no-repeat; }

.icon-logo-unscaled-purple { background-image: url('png/logo-unscaled-purple.png'); background-repeat: no-repeat; }

.icon-logo-unscaled-white { background-image: url('png/logo-unscaled-white.png'); background-repeat: no-repeat; }

.icon-logo-white { background-image: url('png/logo-white.png'); background-repeat: no-repeat; }

.icon-logotype-black { background-image: url('png/logotype-black.png'); background-repeat: no-repeat; }

.icon-logotype-purple { background-image: url('png/logotype-purple.png'); background-repeat: no-repeat; }

.icon-logotype-unscaled-black { background-image: url('png/logotype-unscaled-black.png'); background-repeat: no-repeat; }

.icon-logotype-unscaled-purple { background-image: url('png/logotype-unscaled-purple.png'); background-repeat: no-repeat; }

.icon-logotype-unscaled-white { background-image: url('png/logotype-unscaled-white.png'); background-repeat: no-repeat; }

.icon-logotype-white { background-image: url('png/logotype-white.png'); background-repeat: no-repeat; }

.icon-mail-black { background-image: url('png/mail-black.png'); background-repeat: no-repeat; }

.icon-mail-purple { background-image: url('png/mail-purple.png'); background-repeat: no-repeat; }

.icon-mail-white { background-image: url('png/mail-white.png'); background-repeat: no-repeat; }

.icon-minus-small-black { background-image: url('png/minus-small-black.png'); background-repeat: no-repeat; }

.icon-minus-small-purple { background-image: url('png/minus-small-purple.png'); background-repeat: no-repeat; }

.icon-minus-small-white { background-image: url('png/minus-small-white.png'); background-repeat: no-repeat; }

.icon-person-black { background-image: url('png/person-black.png'); background-repeat: no-repeat; }

.icon-person-purple { background-image: url('png/person-purple.png'); background-repeat: no-repeat; }

.icon-person-white { background-image: url('png/person-white.png'); background-repeat: no-repeat; }

.icon-pinterest-black { background-image: url('png/pinterest-black.png'); background-repeat: no-repeat; }

.icon-pinterest-purple { background-image: url('png/pinterest-purple.png'); background-repeat: no-repeat; }

.icon-pinterest-white { background-image: url('png/pinterest-white.png'); background-repeat: no-repeat; }

.icon-plus-small-black { background-image: url('png/plus-small-black.png'); background-repeat: no-repeat; }

.icon-plus-small-purple { background-image: url('png/plus-small-purple.png'); background-repeat: no-repeat; }

.icon-plus-small-white { background-image: url('png/plus-small-white.png'); background-repeat: no-repeat; }

.icon-remove-small-black { background-image: url('png/remove-small-black.png'); background-repeat: no-repeat; }

.icon-remove-small-purple { background-image: url('png/remove-small-purple.png'); background-repeat: no-repeat; }

.icon-remove-small-white { background-image: url('png/remove-small-white.png'); background-repeat: no-repeat; }

.icon-search-black { background-image: url('png/search-black.png'); background-repeat: no-repeat; }

.icon-search-purple { background-image: url('png/search-purple.png'); background-repeat: no-repeat; }

.icon-search-white { background-image: url('png/search-white.png'); background-repeat: no-repeat; }

.icon-share-black { background-image: url('png/share-black.png'); background-repeat: no-repeat; }

.icon-share-purple { background-image: url('png/share-purple.png'); background-repeat: no-repeat; }

.icon-share-white { background-image: url('png/share-white.png'); background-repeat: no-repeat; }

.icon-tumblr-black { background-image: url('png/tumblr-black.png'); background-repeat: no-repeat; }

.icon-tumblr-purple { background-image: url('png/tumblr-purple.png'); background-repeat: no-repeat; }

.icon-tumblr-white { background-image: url('png/tumblr-white.png'); background-repeat: no-repeat; }

.icon-twitter-black { background-image: url('png/twitter-black.png'); background-repeat: no-repeat; }

.icon-twitter-purple { background-image: url('png/twitter-purple.png'); background-repeat: no-repeat; }

.icon-twitter-white { background-image: url('png/twitter-white.png'); background-repeat: no-repeat; }

.icon-view-in-room-black { background-image: url('png/view-in-room-black.png'); background-repeat: no-repeat; }

.icon-view-in-room-purple { background-image: url('png/view-in-room-purple.png'); background-repeat: no-repeat; }

.icon-view-in-room-white { background-image: url('png/view-in-room-white.png'); background-repeat: no-repeat; }

.icon-website-black { background-image: url('png/website-black.png'); background-repeat: no-repeat; }

.icon-website-purple { background-image: url('png/website-purple.png'); background-repeat: no-repeat; }

.icon-website-white { background-image: url('png/website-white.png'); background-repeat: no-repeat; }

.icon-write-black { background-image: url('png/write-black.png'); background-repeat: no-repeat; }

.icon-write-purple { background-image: url('png/write-purple.png'); background-repeat: no-repeat; }

.icon-write-white { background-image: url('png/write-white.png'); background-repeat: no-repeat; }

