@font-face {
	font-family: 'artsy-pe-icons';
	src:url('fonts/artsy-pe-icons.eot?-q7zrd8');
	src:url('fonts/artsy-pe-icons.eot?#iefix-q7zrd8') format('embedded-opentype'),
		url('fonts/artsy-pe-icons.woff?-q7zrd8') format('woff'),
		url('fonts/artsy-pe-icons.ttf?-q7zrd8') format('truetype'),
		url('fonts/artsy-pe-icons.svg?-q7zrd8#artsy-pe-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'artsy-pe-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
	content: "\e611";
}

.icon-grid:before {
	content: "\e612";
}

.icon-shortlist:before {
	content: "\e60e";
}

.icon-artists:before {
	content: "\e605";
}

.icon-chevron-left:before {
	content: "\e610";
}

.icon-chevron-right:before {
	content: "\e60f";
}

.icon-close:before {
	content: "\e60c";
}

.icon-dashboard:before {
	content: "\e607";
}

.icon-edit:before {
	content: "\e60b";
}

.icon-gear:before {
	content: "\e609";
}

.icon-inquiry:before {
	content: "\e599";
}

.icon-inventory:before {
	content: "\e608";
}

.icon-mark-large:before {
	content: "\e604";
}

.icon-mark:before {
	content: "\e606";
}

.icon-private:before {
	content: "\e603";
}

.icon-profile:before {
	content: "\e60a";
}

.icon-remove:before {
	content: "\e602";
}

.icon-return-arrow:before {
	content: "\e601";
}

.icon-search:before {
	content: "\e600";
}

.icon-shows:before {
	content: "\e60d";
}

